@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-black
    }
    li{
        @apply px-4;
        @apply cursor-pointer
    }
    
}
.content-div{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 290px;
    width: 480px;


}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(0, 157, 255, 0.8),
        hsla(203, 100%, 50%, 0.8)
        
    )!important;

}